name: Deploy Vulnerable Application

on:
  push:
    branches:
      - master
jobs:
  deploy-heroku:
    name: Deploy Heroku
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{HRKU-AATGuRO1FUBuSysqBjp5e6WeYgC_uVRHKIjL5B6y_bng_____wpI2t_TuAVP}}
          heroku_app_name: "guillermo-maquieira-vwa-641b7bb748ca" #Must be unique in Heroku
          heroku_email: "guimaq@gmail.com"
          remote_branch: "master"
          usedocker: true
